import { createSentencesRoute } from '@/lib/games/api'
import { SAMPLE_SENTENCES } from '@/lib/games/sampleSentences'

export const dynamic = 'force-static'

const { GET } = createSentencesRoute(SAMPLE_SENTENCES)

export { GET }
